.continer{
  display: flex;
align-items: center;
justify-content: center;
 height:100%;
 width:100%;
}
.calculator{
  height:40%;
  width:40%;
  border:1px solid black;
}
.child{
  height:30px;
  width:100%;
  border:1px solid black;
}

.numbers{
  display:flex;
  flex-wrap: wrap;
  height:300px;
  width:300px;
 }
.numbercss{
  height:50px;
  width:50px;
}
