.continer{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
    width:100%;
}
  .calculator{
    height:230px;
    width:200px;
    border:1px solid black;
  }
  .child{
    height:30px;
    width:200px;
    border:1px solid black;
  }

  .numbercss{
    height:50px;
    width:50px;
  }
